<h4>
    Đơn hàng của quý khách đã được chúng tôi ghi nhận,
    chúng tôi sẽ liên hệ quý khách sớm nhất và
    giao hàng đúng hẹn
</h4>
<p style="text-align:right">
    @Html.ActionLink("Về trang chủ", "Index", "SachOnline")
</p>

