<footer class="container well">
    <h2 style="color: orangered; align-content: center;">Nguyễn Khang Thái Anh</h2>
    <h2 style="color: orangered; align-content: center;">Đỗ Tiến Dũng</h2>
</footer>
